In [1]:
#Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
import re

In [2]:
# Set up Splinter
browser = Browser('chrome')

In [3]:
#Visit the sentiment index website
url= 'https://www.sentiment-index.com/most-loved'
browser.visit(url)
#Delay for loading
browser.is_element_present_by_css('div.list_text', wait_time=1)

False

In [4]:
#Set up website for scraping
html=browser.html
#make soup!
travel_soup=soup(html, 'html.parser')

In [5]:
#Identify the location elements
location_elems=travel_soup.findAll('div', class_="VM7gjN")
cities=[]
for locale in location_elems:
    name=locale.text
    cities.append(name)
print(cities)

['100LexingtonKentucky, United States23.38Tourism\nSentiment\nScore®Restaurants & DiningTOP ASSET:VISIT\n\n\n\n\n\n97San DiegoCalifornia, United States23.54Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n94Cook Islands\u200b23.84Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n91Park CityUtah, United States24.13Tourism\nSentiment\nScore®Skiing & SnowboardingTOP ASSET:VISIT\n\n\n\n\n\n88Newcastle Upon TyneEngland, United Kingdom24.3Tourism\nSentiment\nScore®Restaurants & DiningTOP ASSET:VISIT\n\n\n\n\n\n85BrisbaneQueensland, Australia24.42Tourism\nSentiment\nScore®Restaurants & DiningTOP ASSET:VISIT\n\n\n\n\n\n82Scenic RimQueensland, Australia24.56Tourism\nSentiment\nScore®Nature PhotographyTOP ASSET:VISIT\n\n\n\n\n\n79Big Bear LakeCalifornia, United States24.72Tourism\nSentiment\nScore®Nature PhotographyTOP ASSET:VISIT\n\n\n\n\n\n76GrampiansVictoria, Australia24.95Tourism\nSentiment\nScore®Hiking & Rock ClimbingTOP ASSET:VISIT\n\n\n\n\n\n73FernieBritish Columbia, Canada25.25Tourism\nSentiment\nScore®Skiing & SnowboardingTOP ASSET:VISIT\n\n\n\n\n\n70DubrovnikCroatia25.59Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n67DurangoColorado, United States25.77Tourism\nSentiment\nScore®AccommodationTOP ASSET:VISIT\n\n\n\n\n\n64Port StephensNew South Wales, Australia25.95Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n61Antigua and Barbuda\u200b26.16Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n58DubaiUnited Arab Emirates26.36Tourism\nSentiment\nScore®Restaurants & DiningTOP ASSET:VISIT\n\n\n\n\n\n55Isle of WightEngland, United Kingdom26.43Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n52Turks and Caicos Islands\u200b26.65Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n49MarbellaAndalusia, Spain26.78Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n46SavannahGeorgia, United States27.2Tourism\nSentiment\nScore®Restaurants & DiningTOP ASSET:VISIT\n\n\n\n\n\n43Port Douglas & DaintreeQueensland, Australia27.32Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n40Cape TownWestern Cape, South Africa27.66Tourism\nSentiment\nScore®Restaurants & DiningTOP ASSET:VISIT\n\n\n\n\n\n37Magnetic IslandQueensland, Australia28.15Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n34StellenboschWestern Cape, South Africa28.69Tourism\nSentiment\nScore®Winery & VineyardsTOP ASSET:VISIT\n\n\n\n\n\n31Byron BayNew South Wales, Australia28.98Tourism\nSentiment\nScore®Festival & Events & ConcertsTOP ASSET:VISIT\n\n\n\n\n\n28Great Ocean RoadVictoria, Australia29.32Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n25QueenstownOtago, New Zealand29.49Tourism\nSentiment\nScore®AccommodationTOP ASSET:VISIT\n\n\n\n\n\n22Palm SpringsCalifornia, United States30.09Tourism\nSentiment\nScore®AccommodationTOP ASSET:VISIT\n\n\n\n\n\n19PembrokeshireWales, United Kingdom30.8Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n16ZanzibarTanzania32.3Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n13Mauritius\u200b32.92Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n10VeniceItaly33.78Tourism\nSentiment\nScore®ArchitectureTOP ASSET:VISIT\n\n\n\n\n\n7Cayman Islands\u200b34.31Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n4Seychelles\u200b36.74Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n', '99Gold CoastQueensland, Australia23.44Tourism\nSentiment\nScore®AttractionsTOP ASSET:VISIT\n\n\n\n\n\n96StoweVermont, United States23.61Tourism\nSentiment\nScore®Skiing & SnowboardingTOP ASSET:VISIT\n\n\n\n\n\n93MarrakeshMorocco24.06Tourism\nSentiment\nScore®ToursTOP ASSET:VISIT\n\n\n\n\n\n90CumbriaEngland, United Kingdom24.27Tourism\nSentiment\nScore®Hiking & Rock ClimbingTOP ASSET:VISIT\n\n\n\n\n\n87TellurideColorado, United States24.3Tourism\nSentiment\nScore®Skiing & SnowboardingTOP ASSET:VISIT\n\n\n\n\n\n84KelownaBritish Columbia, Canada24.43Tourism\nSentiment\nScore®Winery & VineyardsTOP ASSET:VISIT\n\n\n\n\n\n81Niagara FallsOntario, Canada24.64Tourism\nSentiment\nScore®ArchitectureTOP ASSET:VISIT\n\n\n\n\n\n78Gulf Shores & Orange BeachAlabama, United States24.77Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n75Greater Geelong & the BellarineVictoria, Australia25Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n72Puerto RicoUnited States25.47Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n69BiarritzFrance25.63Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n66Margaret RiverWestern Australia, Australia25.8Tourism\nSentiment\nScore®Winery & VineyardsTOP ASSET:VISIT\n\n\n\n\n\n63JaipurRajasthan, India26Tourism\nSentiment\nScore®ArchitectureTOP ASSET:VISIT\n\n\n\n\n\n60French PolynesiaFrance26.23Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n57Barbados\u200b26.37Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n54TulumYucatan, Mexico26.47Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n51Southend-on-SeaEngland, United Kingdom26.67Tourism\nSentiment\nScore®Restaurants & DiningTOP ASSET:VISIT\n\n\n\n\n\n48BergenHordaland, Norway27.02Tourism\nSentiment\nScore®Hiking & Rock ClimbingTOP ASSET:VISIT\n\n\n\n\n\n45UdaipurRajasthan, India27.23Tourism\nSentiment\nScore®ArchitectureTOP ASSET:VISIT\n\n\n\n\n\n42Lake DistrictEngland, United Kingdom27.34Tourism\nSentiment\nScore®Hiking & Rock ClimbingTOP ASSET:VISIT\n\n\n\n\n\n39BarossaSouth Australia, Australia27.81Tourism\nSentiment\nScore®Winery & VineyardsTOP ASSET:VISIT\n\n\n\n\n\n36SedonaArizona, United States28.26Tourism\nSentiment\nScore®Hiking & Rock ClimbingTOP ASSET:VISIT\n\n\n\n\n\n33CornwallEngland, United Kingdom28.9Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n30Jamaica\u200b29.11Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n27Hunter ValleyNew South Wales, Australia29.34Tourism\nSentiment\nScore®Winery & VineyardsTOP ASSET:VISIT\n\n\n\n\n\n24ArubaKingdom of the Netherlands29.56Tourism\nSentiment\nScore®Diving & SnorkelingTOP ASSET:VISIT\n\n\n\n\n\n21ShoalhavenNew South Wales, Australia30.32Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n18HermanusWestern Cape, South Africa31.02Tourism\nSentiment\nScore®Wildlife ViewingTOP ASSET:VISIT\n\n\n\n\n\n15PizolSwitzerland32.3Tourism\nSentiment\nScore®Hiking & Rock ClimbingTOP ASSET:VISIT\n\n\n\n\n\n12EsperanceWestern Australia, Australia33.23Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n9CairnsQueensland, Australia33.98Tourism\nSentiment\nScore®Diving & SnorkelingTOP ASSET:VISIT\n\n\n\n\n\n6SestriereTurin, Italy34.91Tourism\nSentiment\nScore®Skiing & SnowboardingTOP ASSET:VISIT\n\n\n\n\n\n3Sunshine CoastQueensland, Australia36.96Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n', "98WollongongNew South Wales, Australia23.52Tourism\nSentiment\nScore®Biking & CyclingTOP ASSET:VISIT\n\n\n\n\n\n95CanmoreAlberta, Canada23.73Tourism\nSentiment\nScore®Hiking & Rock ClimbingTOP ASSET:VISIT\n\n\n\n\n\n92Lake PlacidNew York, United States24.12Tourism\nSentiment\nScore®AccommodationTOP ASSET:VISIT\n\n\n\n\n\n89MelbourneVictoria, Australia24.29Tourism\nSentiment\nScore®Restaurants & DiningTOP ASSET:VISIT\n\n\n\n\n\n86PerthWestern Australia, Australia24.4Tourism\nSentiment\nScore®Festival & Events & ConcertsTOP ASSET:VISIT\n\n\n\n\n\n83BristolEngland, United Kingdom24.52Tourism\nSentiment\nScore®Restaurants & DiningTOP ASSET:VISIT\n\n\n\n\n\n80BordeauxFrance24.68Tourism\nSentiment\nScore®Winery & VineyardsTOP ASSET:VISIT\n\n\n\n\n\n77AgraUttar Pradesh, India24.8Tourism\nSentiment\nScore®ArchitectureTOP ASSET:VISIT\n\n\n\n\n\n74AspenColorado, United States25.03Tourism\nSentiment\nScore®Skiing & SnowboardingTOP ASSET:VISIT\n\n\n\n\n\n71SantoriniGreece25.55Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n68OdenseFyn, Denmark25.76Tourism\nSentiment\nScore®Festival & Events & ConcertsTOP ASSET:VISIT\n\n\n\n\n\n65AdelaideSouth Australia, Australia25.89Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n62Kaua'iHawaii, United States26.1Tourism\nSentiment\nScore®SurfingTOP ASSET:VISIT\n\n\n\n\n\n59SwanseaWales, United Kingdom26.34Tourism\nSentiment\nScore®Festival & Events & ConcertsTOP ASSET:VISIT\n\n\n\n\n\n56DallasTexas, United States26.39Tourism\nSentiment\nScore®Restaurants & DiningTOP ASSET:VISIT\n\n\n\n\n\n53Corpus ChristiTexas, United States26.58Tourism\nSentiment\nScore®Restaurants & DiningTOP ASSET:VISIT\n\n\n\n\n\n50ExmouthWestern Australia, Australia26.69Tourism\nSentiment\nScore®Diving & SnorkelingTOP ASSET:VISIT\n\n\n\n\n\n47Miami BeachFlorida, United States27.07Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n44NapaCalifornia, United States27.28Tourism\nSentiment\nScore®Winery & VineyardsTOP ASSET:VISIT\n\n\n\n\n\n41AshevilleNorth Carolina, United States27.56Tourism\nSentiment\nScore®Restaurants & DiningTOP ASSET:VISIT\n\n\n\n\n\n38Fiji\u200b27.97Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n35AustinTexas, United States28.65Tourism\nSentiment\nScore®Restaurants & DiningTOP ASSET:VISIT\n\n\n\n\n\n32St. PetersburgFlorida, United States28.93Tourism\nSentiment\nScore®Restaurants & DiningTOP ASSET:VISIT\n\n\n\n\n\n29Saint Lucia\u200b29.27Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n26ScottsdaleArizona, United States29.35Tourism\nSentiment\nScore®GolfingTOP ASSET:VISIT\n\n\n\n\n\n23Bahamas\u200b29.86Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n20St. MoritzSwitzerland30.75Tourism\nSentiment\nScore®Skiing & SnowboardingTOP ASSET:VISIT\n\n\n\n\n\n17BaliIndonesia31.08Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n14NoosaQueensland, Australia32.31Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n11Perth and KinrossScotland, United Kingdom33.7Tourism\nSentiment\nScore®AccommodationTOP ASSET:VISIT\n\n\n\n\n\n8IbizaBalearic Islands, Spain34.16Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n5Yarra ValleyVictoria, Australia36.18Tourism\nSentiment\nScore®Winery & VineyardsTOP ASSET:VISIT\n\n\n\n\n\n2WhitsundaysQueensland, Australia37.64Tourism\nSentiment\nScore®BeachesTOP ASSET:VISIT\n\n\n\n\n\n"]

In [6]:
#Check how the list(s) populated
len(cities)
#Indicates each column on the page is an item in the 'list'

3

In [7]:
#Make the three location elements that are in 'cities' into actual lists
split_items=[]
list_of_cities=[]
for city in cities:
    #Seperate the elements
    split_items=city.split('\n\n\n\n\n\n')
    for item in split_items:
        #Use regex to crop out just the locale name
        citystate=re.findall("^\D*\d+(?:[.,]\d+)*(\D+)\d",item)
        list_of_cities.append(citystate)
print(list_of_cities)

[['LexingtonKentucky, United States'], ['San DiegoCalifornia, United States'], ['Cook Islands\u200b'], ['Park CityUtah, United States'], ['Newcastle Upon TyneEngland, United Kingdom'], ['BrisbaneQueensland, Australia'], ['Scenic RimQueensland, Australia'], ['Big Bear LakeCalifornia, United States'], ['GrampiansVictoria, Australia'], ['FernieBritish Columbia, Canada'], ['DubrovnikCroatia'], ['DurangoColorado, United States'], ['Port StephensNew South Wales, Australia'], ['Antigua and Barbuda\u200b'], ['DubaiUnited Arab Emirates'], ['Isle of WightEngland, United Kingdom'], ['Turks and Caicos Islands\u200b'], ['MarbellaAndalusia, Spain'], ['SavannahGeorgia, United States'], ['Port Douglas & DaintreeQueensland, Australia'], ['Cape TownWestern Cape, South Africa'], ['Magnetic IslandQueensland, Australia'], ['StellenboschWestern Cape, South Africa'], ['Byron BayNew South Wales, Australia'], ['Great Ocean RoadVictoria, Australia'], ['QueenstownOtago, New Zealand'], ['Palm SpringsCalifornia, United States'], ['PembrokeshireWales, United Kingdom'], ['ZanzibarTanzania'], ['Mauritius\u200b'], ['VeniceItaly'], ['Cayman Islands\u200b'], ['Seychelles\u200b'], [], ['Gold CoastQueensland, Australia'], ['StoweVermont, United States'], ['MarrakeshMorocco'], ['CumbriaEngland, United Kingdom'], ['TellurideColorado, United States'], ['KelownaBritish Columbia, Canada'], ['Niagara FallsOntario, Canada'], ['Gulf Shores & Orange BeachAlabama, United States'], ['Greater Geelong & the BellarineVictoria, Australia'], ['Puerto RicoUnited States'], ['BiarritzFrance'], ['Margaret RiverWestern Australia, Australia'], ['JaipurRajasthan, India'], ['French PolynesiaFrance'], ['Barbados\u200b'], ['TulumYucatan, Mexico'], ['Southend-on-SeaEngland, United Kingdom'], ['BergenHordaland, Norway'], ['UdaipurRajasthan, India'], ['Lake DistrictEngland, United Kingdom'], ['BarossaSouth Australia, Australia'], ['SedonaArizona, United States'], ['CornwallEngland, United Kingdom'], ['Jamaica\u200b'], ['Hunter ValleyNew South Wales, Australia'], ['ArubaKingdom of the Netherlands'], ['ShoalhavenNew South Wales, Australia'], ['HermanusWestern Cape, South Africa'], ['PizolSwitzerland'], ['EsperanceWestern Australia, Australia'], ['CairnsQueensland, Australia'], ['SestriereTurin, Italy'], ['Sunshine CoastQueensland, Australia'], [], ['WollongongNew South Wales, Australia'], ['CanmoreAlberta, Canada'], ['Lake PlacidNew York, United States'], ['MelbourneVictoria, Australia'], ['PerthWestern Australia, Australia'], ['BristolEngland, United Kingdom'], ['BordeauxFrance'], ['AgraUttar Pradesh, India'], ['AspenColorado, United States'], ['SantoriniGreece'], ['OdenseFyn, Denmark'], ['AdelaideSouth Australia, Australia'], ["Kaua'iHawaii, United States"], ['SwanseaWales, United Kingdom'], ['DallasTexas, United States'], ['Corpus ChristiTexas, United States'], ['ExmouthWestern Australia, Australia'], ['Miami BeachFlorida, United States'], ['NapaCalifornia, United States'], ['AshevilleNorth Carolina, United States'], ['Fiji\u200b'], ['AustinTexas, United States'], ['St. PetersburgFlorida, United States'], ['Saint Lucia\u200b'], ['ScottsdaleArizona, United States'], ['Bahamas\u200b'], ['St. MoritzSwitzerland'], ['BaliIndonesia'], ['NoosaQueensland, Australia'], ['Perth and KinrossScotland, United Kingdom'], ['IbizaBalearic Islands, Spain'], ['Yarra ValleyVictoria, Australia'], ['WhitsundaysQueensland, Australia'], []]

In [8]:
#We want a list of items, not a list of lists
final_list = []
for each in list_of_cities:
    final_list.extend(each)
print(final_list)

['LexingtonKentucky, United States', 'San DiegoCalifornia, United States', 'Cook Islands\u200b', 'Park CityUtah, United States', 'Newcastle Upon TyneEngland, United Kingdom', 'BrisbaneQueensland, Australia', 'Scenic RimQueensland, Australia', 'Big Bear LakeCalifornia, United States', 'GrampiansVictoria, Australia', 'FernieBritish Columbia, Canada', 'DubrovnikCroatia', 'DurangoColorado, United States', 'Port StephensNew South Wales, Australia', 'Antigua and Barbuda\u200b', 'DubaiUnited Arab Emirates', 'Isle of WightEngland, United Kingdom', 'Turks and Caicos Islands\u200b', 'MarbellaAndalusia, Spain', 'SavannahGeorgia, United States', 'Port Douglas & DaintreeQueensland, Australia', 'Cape TownWestern Cape, South Africa', 'Magnetic IslandQueensland, Australia', 'StellenboschWestern Cape, South Africa', 'Byron BayNew South Wales, Australia', 'Great Ocean RoadVictoria, Australia', 'QueenstownOtago, New Zealand', 'Palm SpringsCalifornia, United States', 'PembrokeshireWales, United Kingdom', 'ZanzibarTanzania', 'Mauritius\u200b', 'VeniceItaly', 'Cayman Islands\u200b', 'Seychelles\u200b', 'Gold CoastQueensland, Australia', 'StoweVermont, United States', 'MarrakeshMorocco', 'CumbriaEngland, United Kingdom', 'TellurideColorado, United States', 'KelownaBritish Columbia, Canada', 'Niagara FallsOntario, Canada', 'Gulf Shores & Orange BeachAlabama, United States', 'Greater Geelong & the BellarineVictoria, Australia', 'Puerto RicoUnited States', 'BiarritzFrance', 'Margaret RiverWestern Australia, Australia', 'JaipurRajasthan, India', 'French PolynesiaFrance', 'Barbados\u200b', 'TulumYucatan, Mexico', 'Southend-on-SeaEngland, United Kingdom', 'BergenHordaland, Norway', 'UdaipurRajasthan, India', 'Lake DistrictEngland, United Kingdom', 'BarossaSouth Australia, Australia', 'SedonaArizona, United States', 'CornwallEngland, United Kingdom', 'Jamaica\u200b', 'Hunter ValleyNew South Wales, Australia', 'ArubaKingdom of the Netherlands', 'ShoalhavenNew South Wales, Australia', 'HermanusWestern Cape, South Africa', 'PizolSwitzerland', 'EsperanceWestern Australia, Australia', 'CairnsQueensland, Australia', 'SestriereTurin, Italy', 'Sunshine CoastQueensland, Australia', 'WollongongNew South Wales, Australia', 'CanmoreAlberta, Canada', 'Lake PlacidNew York, United States', 'MelbourneVictoria, Australia', 'PerthWestern Australia, Australia', 'BristolEngland, United Kingdom', 'BordeauxFrance', 'AgraUttar Pradesh, India', 'AspenColorado, United States', 'SantoriniGreece', 'OdenseFyn, Denmark', 'AdelaideSouth Australia, Australia', "Kaua'iHawaii, United States", 'SwanseaWales, United Kingdom', 'DallasTexas, United States', 'Corpus ChristiTexas, United States', 'ExmouthWestern Australia, Australia', 'Miami BeachFlorida, United States', 'NapaCalifornia, United States', 'AshevilleNorth Carolina, United States', 'Fiji\u200b', 'AustinTexas, United States', 'St. PetersburgFlorida, United States', 'Saint Lucia\u200b', 'ScottsdaleArizona, United States', 'Bahamas\u200b', 'St. MoritzSwitzerland', 'BaliIndonesia', 'NoosaQueensland, Australia', 'Perth and KinrossScotland, United Kingdom', 'IbizaBalearic Islands, Spain', 'Yarra ValleyVictoria, Australia', 'WhitsundaysQueensland, Australia']

In [9]:
#This should be 100 items, since it was scraped from a top one hundred list. Let's make sure:
len(final_list)

99

In [10]:
#Number 1 is formatted differently on the webpage, so we'll need to capture that and add to the list
Addlastcity=travel_soup.find('div', id="comp-ldasrvr9")
#Make sure we got it
print(Addlastcity.text)

Maldives

In [11]:
#append Maldives to list
final_list.append(Addlastcity)

In [12]:
#Quit browsing session
browser.quit()

In [13]:
#Import pandas for dataframe building & citipy for geolocating
import pandas as pd
from citipy import citipy

In [14]:
#Make series into a DataFrame
top_100=pd.DataFrame({'City':final_list})
top_100.head(5)

                                         City
0            LexingtonKentucky, United States
1          San DiegoCalifornia, United States
2                               Cook Islands​
3                Park CityUtah, United States
4  Newcastle Upon TyneEngland, United Kingdom

In [15]:
#Cleaning data
#First, let's get the country split out into its own column
top_100[['City','Country']]=top_100['City'].str.split(',',expand=True)
top_100.head()

                         City          Country
0           LexingtonKentucky    United States
1         San DiegoCalifornia    United States
2               Cook Islands​             None
3               Park CityUtah    United States
4  Newcastle Upon TyneEngland   United Kingdom

In [16]:
#Now we'll use regex again to identify lowerUpper instances, add a delimiter and then make state/province column
top_100['City']=top_100['City'].str.replace(r'([a-z])([A-Z])',r'\1,\2')
top_100.head()

                          City          Country
0           Lexington,Kentucky    United States
1         San Diego,California    United States
2                Cook Islands​             None
3               Park City,Utah    United States
4  Newcastle Upon Tyne,England   United Kingdom

In [17]:
top_100[['City','State/Province']]=top_100['City'].str.split(',',expand=True)
top_100.head()

                  City          Country State/Province
0            Lexington    United States       Kentucky
1            San Diego    United States     California
2        Cook Islands​             None           None
3            Park City    United States           Utah
4  Newcastle Upon Tyne   United Kingdom        England

In [18]:
#Load workcation csv for second list of cities
file_path='../Resources/best_cities_for_a_workation.csv'
work_data=pd.read_csv(file_path)
work_data.head(10)

,Ranking,City,Country,Remote connection: Average WiFi speed (Mbps per second),Co-working spaces: Number of co-working spaces,Caffeine: Average price of buying a coffee,Travel: Average price of taxi (per km),After-work drinks: Average price for 2 beers in a bar,Accommodation: Average price of 1 bedroom apartment per month,"Food: Average cost of a meal at a local, mid-level restaurant",Climate: Average number of sunshine hours,Tourist attractions: Number of ‘Things to do’ on Tripadvisor,Instagramability: Number of photos with #
0,1,Bangkok,Thailand,28,117,1.56,0.82,3.08,415.18,1.54,2624,2262,28386616
1,2,New Delhi,India,12,165,1.42,0.19,2.90,179.25,2.90,2685,2019,28528249
2,3,Lisbon,Portugal,33,95,1.56,0.40,3.42,736.19,7.69,2806,1969,10205538
3,4,Barcelona,Spain,37,136,1.59,1.01,5.12,768.46,10.25,2591,2739,62894055
4,5,Buenos Aires,Argentina,17,67,1.22,0.47,2.16,229.55,5.15,2525,1660,21293975
5,5,Budapest,Hungary,37,40,1.20,0.72,2.40,366.66,4.81,1988,1468,14267880
6,7,Mumbai,India,23,152,1.57,0.22,3.28,419.64,2.90,2584,892,47201552
7,8,Istanbul,Turkey,13,69,1.23,0.29,3.34,230.10,2.92,2218,2088,116213193
8,9,Bucharest,Romania,54,46,1.78,0.35,2.78,352.35,6.07,2115,726,3376251
9,10,Phuket,Thailand,23,11,1.73,0.76,3.92,301.08,2.72,3450,1698,10190220

In [19]:
#Merge DFs into one 
Cities_DF=top_100.merge(work_data, on='City',how='outer')
Cities_DF.head(15)

,City,Country_x,State/Province,Ranking,Country_y,Remote connection: Average WiFi speed (Mbps per second),Co-working spaces: Number of co-working spaces,Caffeine: Average price of buying a coffee,Travel: Average price of taxi (per km),After-work drinks: Average price for 2 beers in a bar,Accommodation: Average price of 1 bedroom apartment per month,"Food: Average cost of a meal at a local, mid-level restaurant",Climate: Average number of sunshine hours,Tourist attractions: Number of ‘Things to do’ on Tripadvisor,Instagramability: Number of photos with #
0,Lexington,United States,Kentucky,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,San Diego,United States,California,40.0,United States,74.0,53.0,3.06,1.34,8.60,1553.79,10.75,3055.0,1118.0,29887093.0
2,Cook Islands​,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Park City,United States,Utah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Newcastle Upon Tyne,United Kingdom,England,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Brisbane,Australia,Queensland,99.0,Australia,22.0,37.0,2.49,1.17,8.62,929.46,10.78,2968.0,668.0,11948455.0
6,Scenic Rim,Australia,Queensland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Big Bear Lake,United States,California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Grampians,Australia,Victoria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Fernie,Canada,British Columbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Dubrovnik,None,Croatia,136.0,Croatia,19.0,0.0,2.52,1.19,9.12,578.51,11.95,3322.0,468.0,2556696.0
11,Durango,United States,Colorado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Port Stephens,Australia,New South Wales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Antigua and Barbuda​,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Dubai,None,United Arab Emirates,48.0,United Arab Emirates,15.0,115.0,3.66,0.43,17.64,1069.88,6.86,3885.0,1615.0,110962610.0

In [20]:
#Make sure the number of rows reflects adding the lists together
Cities_DF.count()

City                                                             236
Country_x                                                         74
State/Province                                                    88
Ranking                                                          147
Country_y                                                        147
Remote connection: Average WiFi speed (Mbps per second)          147
Co-working spaces: Number of co-working spaces                   147
Caffeine: Average price of buying a coffee                       147
Travel: Average price of taxi (per km)                           147
After-work drinks: Average price for 2 beers in a bar            147
Accommodation: Average price of 1 bedroom apartment per month    147
Food: Average cost of a meal at a local, mid-level restaurant    147
Climate: Average number of sunshine hours                        147
Tourist attractions: Number of ‘Things to do’ on Tripadvisor     147
Instagramability: Number of photos with #                        147
dtype: int64

In [21]:
#Cleaning data
#We want to make a dataframe with JUST the locales to feed into our api calls.
Cities_DF=Cities_DF[['City','State/Province','Country_x','Country_y']]
Cities_DF.rename(columns={'Country_y':'Country'}, inplace=True)
Cities_DF.head()

                  City State/Province        Country_x        Country
0            Lexington       Kentucky    United States            NaN
1            San Diego     California    United States  United States
2        Cook Islands​           None             None            NaN
3            Park City           Utah    United States            NaN
4  Newcastle Upon Tyne        England   United Kingdom            NaN

In [22]:
#Country_y had less null values based on the df.count above, so we are using that as our final Country column, but we want to
#use Country_x to fill in all the null values we can before dropping that column
Cities_DF['Country'].fillna(Cities_DF['Country_x'],inplace=True)
Cities_DF.drop('Country_x',axis=1,inplace=True)
Cities_DF.head(30)

                         City        State/Province               Country
0                   Lexington              Kentucky         United States
1                   San Diego            California         United States
2               Cook Islands​                  None                  None
3                   Park City                  Utah         United States
4         Newcastle Upon Tyne               England        United Kingdom
5                    Brisbane            Queensland             Australia
6                  Scenic Rim            Queensland             Australia
7               Big Bear Lake            California         United States
8                   Grampians              Victoria             Australia
9                      Fernie      British Columbia                Canada
10                  Dubrovnik               Croatia               Croatia
11                    Durango              Colorado         United States
12              Port Stephens       New South Wales             Australia
13       Antigua and Barbuda​                  None                  None
14                      Dubai  United Arab Emirates  United Arab Emirates
15              Isle of Wight               England        United Kingdom
16  Turks and Caicos Islands​                  None                  None
17                   Marbella             Andalusia                 Spain
18                   Savannah               Georgia         United States
19    Port Douglas & Daintree            Queensland             Australia
20                  Cape Town          Western Cape          South Africa
21            Magnetic Island            Queensland             Australia
22               Stellenbosch          Western Cape          South Africa
23                  Byron Bay       New South Wales             Australia
24           Great Ocean Road              Victoria             Australia
25                 Queenstown                 Otago           New Zealand
26               Palm Springs            California         United States
27              Pembrokeshire                 Wales        United Kingdom
28                   Zanzibar              Tanzania                  None
29                 Mauritius​                  None                  None

In [23]:
#Check our values count and dtypes
Cities_DF.count()
#214 is up from 147

City              236
State/Province     88
Country           214
dtype: int64

In [24]:
Cities_DF.dtypes

City              object
State/Province    object
Country           object
dtype: object

In [25]:
#We need strings so
#Cities_DF=Cities_DF.astype(str).dtypes
#Cities_DF=Cities_DF.infer_objects().dtypes
Cities_DF.convert_dtypes().dtypes

City              string
State/Province    string
Country           string
dtype: object

In [26]:
#We will need city,country as the argument for citipy, so let's keep filling in that Country column.
#Above we see Croatia and the UAE in the state column, so I'll move those over
Cities_DF['Country'].fillna(Cities_DF['State/Province'], inplace=True)
Cities_DF.head(30)

                         City        State/Province               Country
0                   Lexington              Kentucky         United States
1                   San Diego            California         United States
2               Cook Islands​                  None                  None
3                   Park City                  Utah         United States
4         Newcastle Upon Tyne               England        United Kingdom
5                    Brisbane            Queensland             Australia
6                  Scenic Rim            Queensland             Australia
7               Big Bear Lake            California         United States
8                   Grampians              Victoria             Australia
9                      Fernie      British Columbia                Canada
10                  Dubrovnik               Croatia               Croatia
11                    Durango              Colorado         United States
12              Port Stephens       New South Wales             Australia
13       Antigua and Barbuda​                  None                  None
14                      Dubai  United Arab Emirates  United Arab Emirates
15              Isle of Wight               England        United Kingdom
16  Turks and Caicos Islands​                  None                  None
17                   Marbella             Andalusia                 Spain
18                   Savannah               Georgia         United States
19    Port Douglas & Daintree            Queensland             Australia
20                  Cape Town          Western Cape          South Africa
21            Magnetic Island            Queensland             Australia
22               Stellenbosch          Western Cape          South Africa
23                  Byron Bay       New South Wales             Australia
24           Great Ocean Road              Victoria             Australia
25                 Queenstown                 Otago           New Zealand
26               Palm Springs            California         United States
27              Pembrokeshire                 Wales        United Kingdom
28                   Zanzibar              Tanzania              Tanzania
29                 Mauritius​                  None                  None

In [27]:
#Now it is just Islands that don't have a country. Move Island Name to Country Column 
Cities_DF['Country'].fillna(Cities_DF['City'], inplace=True)
Cities_DF.head(30)

                         City        State/Province                    Country
0                   Lexington              Kentucky              United States
1                   San Diego            California              United States
2               Cook Islands​                  None              Cook Islands​
3                   Park City                  Utah              United States
4         Newcastle Upon Tyne               England             United Kingdom
5                    Brisbane            Queensland                  Australia
6                  Scenic Rim            Queensland                  Australia
7               Big Bear Lake            California              United States
8                   Grampians              Victoria                  Australia
9                      Fernie      British Columbia                     Canada
10                  Dubrovnik               Croatia                    Croatia
11                    Durango              Colorado              United States
12              Port Stephens       New South Wales                  Australia
13       Antigua and Barbuda​                  None       Antigua and Barbuda​
14                      Dubai  United Arab Emirates       United Arab Emirates
15              Isle of Wight               England             United Kingdom
16  Turks and Caicos Islands​                  None  Turks and Caicos Islands​
17                   Marbella             Andalusia                      Spain
18                   Savannah               Georgia              United States
19    Port Douglas & Daintree            Queensland                  Australia
20                  Cape Town          Western Cape               South Africa
21            Magnetic Island            Queensland                  Australia
22               Stellenbosch          Western Cape               South Africa
23                  Byron Bay       New South Wales                  Australia
24           Great Ocean Road              Victoria                  Australia
25                 Queenstown                 Otago                New Zealand
26               Palm Springs            California              United States
27              Pembrokeshire                 Wales             United Kingdom
28                   Zanzibar              Tanzania                   Tanzania
29                 Mauritius​                  None                 Mauritius​

In [28]:
#We're going to use request.get on the openstreetmap api and try for our geo-coordinates, because citipy isn't working
#for me. It complains that I'm not meeting it's requirements for city/country
import requests

In [29]:
#Define a function to use on the rows of the DataFrame 
def lat_lng(city, state, country):
    if city is None:
        return None, None
    if state is None:
        return None, None
    location=f'{city},{country}'
    response=requests.get(f"https://nominatim.openstreetmap.org/search?city={city}&country={country}&format=json")
    if response.status_code==200:
        Json=response.json()
        if len(Json) > 0:
            # Extract latitude and longitude coordinates
            lat = float(Json[0]['lat'])
            lng = float(Json[0]['lon'])
            return lat, lng
        else:
            return None, None
    else:
        return None, None

# Apply the lat_lng function to Cities_DF DataFrame to get latitude and longitude coordinates
Cities_DF['Latitude'], Cities_DF['Longitude'] = zip(*Cities_DF.apply(lambda row: lat_lng(row['City'], row['State/Province'], row['Country']), axis=1))

In [30]:
#Did it work?
Cities_DF.head(30)

,City,State/Province,Country,Latitude,Longitude
0,Lexington,Kentucky,United States,38.0464,-84.497
1,San Diego,California,United States,32.7174,-117.163
2,Cook Islands​,None,Cook Islands​,None,None
3,Park City,Utah,United States,40.6461,-111.498
4,Newcastle Upon Tyne,England,United Kingdom,54.9738,-1.61316
5,Brisbane,Queensland,Australia,-27.469,153.023
6,Scenic Rim,Queensland,Australia,-28.0402,152.811
7,Big Bear Lake,California,United States,34.2441,-116.91
8,Grampians,Victoria,Australia,-36.7188,142.221
9,Fernie,British Columbia,Canada,49.5042,-115.063
10,Dubrovnik,Croatia,Croatia,42.6487,18.0947
11,Durango,Colorado,United States,37.2395,-107.822
12,Port Stephens,New South Wales,Australia,-32.7285,151.938
13,Antigua and Barbuda​,None,Antigua and Barbuda​,None,None
14,Dubai,United Arab Emirates,United Arab Emirates,25.2653,55.2925
15,Isle of Wight,England,United Kingdom,50.6711,-1.3328
16,Turks and Caicos Islands​,None,Turks and Caicos Islands​,None,None
17,Marbella,Andalusia,Spain,36.509,-4.88562
18,Savannah,Georgia,United States,32.0565,-81.0951
19,Port Douglas & Daintree,Queensland,Australia,-16.4846,145.464
20,Cape Town,Western Cape,South Africa,-33.929,18.4174
21,Magnetic Island,Queensland,Australia,-19.1421,146.834
22,Stellenbosch,Western Cape,South Africa,-33.9344,18.8692
23,Byron Bay,New South Wales,Australia,-28.6483,153.618
24,Great Ocean Road,Victoria,Australia,None,None
25,Queenstown,Otago,New Zealand,-45.0322,168.661
26,Palm Springs,California,United States,33.7722,-116.495
27,Pembrokeshire,Wales,United Kingdom,None,None
28,Zanzibar,Tanzania,Tanzania,-6.16649,39.2074
29,Mauritius​,None,Mauritius​,None,None

In [31]:
null_count=Cities_DF['Latitude'].isnull().sum()
print(null_count)

28

In [32]:
#Sort of. It still didn't give us coordinates for islands and places like "Great Ocean Road", which is a feature and not 
#a specified locality. It also is not returning several places it seems like it should. 
Nulls=Cities_DF[Cities_DF['Latitude'].isnull()]
Nulls.head(30)

,City,State/Province,Country,Latitude,Longitude
2,Cook Islands​,None,Cook Islands​,None,None
13,Antigua and Barbuda​,None,Antigua and Barbuda​,None,None
16,Turks and Caicos Islands​,None,Turks and Caicos Islands​,None,None
24,Great Ocean Road,Victoria,Australia,None,None
27,Pembrokeshire,Wales,United Kingdom,None,None
29,Mauritius​,None,Mauritius​,None,None
31,Cayman Islands​,None,Cayman Islands​,None,None
32,Seychelles​,None,Seychelles​,None,None
36,Cumbria,England,United Kingdom,None,None
41,Greater Geelong & the Bellarine,Victoria,Australia,None,None
46,French Polynesia,France,France,None,None
47,Barbados​,None,Barbados​,None,None
52,Lake District,England,United Kingdom,None,None
55,Cornwall,England,United Kingdom,None,None
56,Jamaica​,None,Jamaica​,None,None
57,Hunter Valley,New South Wales,Australia,None,None
61,Pizol,Switzerland,Switzerland,None,None
75,Santorini,Greece,Greece,None,None
78,Kaua'i,Hawaii,United States,None,None
86,Fiji​,None,Fiji​,None,None
89,Saint Lucia​,None,Saint Lucia​,None,None
91,Bahamas​,None,Bahamas​,None,None
95,Perth and Kinross,Scotland,United Kingdom,None,None
97,Yarra Valley,Victoria,Australia,None,None
99,NaN,NaN,NaN,None,None
131,Hong Kong,NaN,Hong Kong,None,None
176,Yangon,NaN,Burma/Myanmar,None,None
199,Honolulu,NaN,Hawaii,None,None

In [33]:
Nulls.to_csv('../Resources/TrynaBDifficult.csv',index=True)

In [34]:
#Fixed nulls in another workbook, pulling them back over
file_path='../Resources/FixedNulls.csv'
Islands=pd.read_csv(file_path)
Islands.head(30)

,Unnamed: 0,City,State/Province,Country,Latitude,Longitude
0,2,Cook Islands​,NaN,Cook Islands​,-19.996972,-157.785871
1,13,Antigua and Barbuda​,NaN,Antigua and Barbuda​,17.223472,-61.955461
2,16,Turks and Caicos Islands​,NaN,Turks and Caicos Islands​,21.721746,-71.552781
3,29,Mauritius​,NaN,Mauritius​,-20.275945,57.570357
4,31,Cayman Islands​,NaN,Cayman Islands​,19.703182,-79.917463
5,32,Seychelles​,NaN,Seychelles​,-4.657498,55.454015
6,47,Barbados​,NaN,Barbados​,13.150033,-59.525031
7,56,Jamaica​,NaN,Jamaica​,18.185051,-77.394769
8,86,Fiji​,NaN,Fiji​,-18.123970,179.012274
9,89,Saint Lucia​,NaN,Saint Lucia​,13.825049,-60.975036
10,91,Bahamas​,NaN,Bahamas​,24.773655,-78.000055

In [35]:
#Merge the fixed nulls together with Cities_DF
Cities_DF=Cities_DF.merge(Fixed_Nulls, on='City',how='outer')
Cities_DF.count()

City                236
State/Province_x     88
Country_x           236
Latitude_x          209
Longitude_x         209
State/Province_y      6
Country_y            17
Latitude_y           17
Longitude_y          17
dtype: int64

In [36]:
Cities_DF.head()

,City,State/Province_x,Country_x,Latitude_x,Longitude_x,State/Province_y,Country_y,Latitude_y,Longitude_y
0,Lexington,Kentucky,United States,38.0464,-84.497,NaN,NaN,NaN,NaN
1,San Diego,California,United States,32.7174,-117.163,NaN,NaN,NaN,NaN
2,Cook Islands​,None,Cook Islands​,None,None,NaN,Cook Islands​,-19.996972,-157.785871
3,Park City,Utah,United States,40.6461,-111.498,NaN,NaN,NaN,NaN
4,Newcastle Upon Tyne,England,United Kingdom,54.9738,-1.61316,NaN,NaN,NaN,NaN

In [37]:
Cities_DF['Latitude'].fillna(Islands['Latitude'], inplace=True)
Cities_DF['Longitude'].fillna(Islands['Longitude'], inplace=True)
Cities_DF.head()

                  City State/Province          Country   Latitude   Longitude
0            Lexington       Kentucky    United States  38.046407  -84.497039
1            San Diego     California    United States  32.717420 -117.162773
2        Cook Islands​           None    Cook Islands​  21.721746  -71.552781
3            Park City           Utah    United States  40.646092 -111.497996
4  Newcastle Upon Tyne        England   United Kingdom  54.973847   -1.613157

In [38]:
#Export list of cities with geo-coordinates to csv
Cities_DF.to_csv('../Resources/CitiesWGeolocation.csv',index=True)